.description__ranking {
  display: flex;
  align-items: center;
}

.description__ranking figcaption {
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 1366px) {
  .description__ranking img {
    width: 30px;
  }

  .description__ranking figcaption {
    font-size: 14px;
  }
}
