<nav class="sidebar">
  <figure class="sidebar__avatar">
    <img src="./assets/images/avatar-1.png" alt="nyhasina" />
    <figcaption>
      <span class="sidebar__avatar__user-name">Ny Hasinavalona</span>
      <span class="sidebar__avatar__function">Fantastic developer</span>
    </figcaption>
  </figure>
  <ul class="sidebar__menu">
    <li
      class="menu__item menu__item--home"
      routerLinkActive="menu__item--home-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/home/gallery">
        <span class="item__caption">Home</span>
        <span class="item__icon"></span>
      </a>
    </li>
    <li
      class="menu__item menu__item--favorite"
      routerLinkActive="menu__item--favorite-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/home/gallery/favorite">
        <span class="item__caption">Favorite</span>
        <span class="item__icon"></span>
      </a>
    </li>
  </ul>
</nav>
