.paginator, ul {
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    width: 35px;
    border: 1px solid #000;
    cursor: pointer;
}

li, span {
    display: flex;
    justify-content: center;
    align-items: center;
}
