<nav class="navbar">
  <figure class="navbar__brand">
    <img src="./assets/images/logo.png" alt="logo" />
  </figure>
  <div class="navbar__search-bar">
    <form>
      <div class="search-bar__control">
        <img src="./assets/images/search.svg" alt="search" />
        <input
          type="text"
          placeholder="Search"
          (keyup)="onSearch($event)"
          name="title"
          [(ngModel)]="value"
        />
      </div>
    </form>
  </div>
  <figure class="navbar__avatar">
    <img
      src="./assets/images/avatar-1.png"
      alt="nyhasina"
      class="avatar__user-profile"
    />
    <figcaption>John Doe</figcaption>
    <img
      src="./assets/images/arrow-down.svg"
      alt="arrow down"
      class="avatar__arrow-down"
    />
  </figure>
  <div class="navbar__button-group">
    <button class="button-group__button button-group__button--message">
      <img src="./assets/images/message.svg" alt="message" />
    </button>
    <button class="button-group__button button-group__button--notification">
      <img src="./assets/images/notification.svg" alt="notification" />
    </button>
    <button class="button-group__button button-group__button--menu">
      <img src="./assets/images/menu.svg" alt="menu" />
    </button>
  </div>
</nav>
