%titled-content {
  padding: 50px;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 50px;

  .page-title {
    justify-self: flex-start;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .page-title figure {
    display: flex;
    margin-right: 10px;
    background: linear-gradient(#eb9396, #ed4c67);
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .page-title figcaption {
    font-weight: 600;
  }

  .page-title img {
    width: 25px;
    margin: auto;
  }
}

@media screen and (max-width: 1366px) {
  %titled-content {
    padding: 25px;
    row-gap: 25px;

    .page-title figure {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      border-radius: 5px;
    }

    .page-title img {
      width: 20px;
      height: 20px;
    }
  }
}
