<div class="details" *ngIf="video">
  <figure class="details__poster">
    <img [src]="video.poster | url" alt="Homecoming" />
  </figure>
  <div class="details__description">
    <div class="description__header">
      <h3>{{ video.title }}</h3>
      <app-ranking [rated]="video.rated" [views]="video.views"></app-ranking>
    </div>
    <p class="description__content">
      {{ video.synopsis }}
    </p>
    <figure class="description__recommandation">
      <img src="/assets/images/avatars/avatar-1.png" alt="" />
      <img src="/assets/images/avatars/avatar-2.png" alt="" />
      <img src="/assets/images/avatars/avatar-3.png" alt="" />
      <img src="/assets/images/avatars/avatar-4.png" alt="" />
      <img src="/assets/images/avatars/avatar-5.png" alt="" />
      <img src="/assets/images/avatars/avatar-6.png" alt="" />
      <img src="/assets/images/avatars/avatar-7.png" alt="" />
      <figcaption>
        <span>+ 9</span>
      </figcaption>
    </figure>
    <div class="description__footer">
      <div class="footer__left">
        <button class="pin" (click)="onPin()">
          <span>Pin</span>
          <img
            src="/assets/images/{{
              video.pined ? 'pin-filled.svg' : 'pin-outline.svg'
            }}"
            alt=""
          />
        </button>
        <button class="watch-trailer">Watch trailer</button>
      </div>
      <div class="footer__right">
        <button class="stream">
          <img src="/assets/images/play-outline-white.svg" alt="" />
          Stream
        </button>
      </div>
    </div>
  </div>
</div>
